.page {
    width: "100%";
    height: "100dvh";

    position: "relative";
    background-color: "#161718";
}

.navbarContainer {
    width: "100%";
    height: "50px";

    position: "absolute";
    top: 0;
    left: 0;

    display: "flex";
    justify-content: "center";

    margin-top: "15px";
    z-index: 10;
}

.navbar {
    width: "min-content";
    display: "flex";

    position: "relative";
    border-radius: "10px";

    box-shadow: "0px 0px 40px -15px rgb(0, 0, 0)";
    background-color: "#232329";
}

.navbar-center {
    display: "flex";
    justify-content: "space-between";
    align-items: "center";

    width: "100%";
    height: "100%"
}

.navbar-item {
    width: "40px";
    height: "40px";

    display: "flex";
    justify-content: "center";
    align-items: "center";
}

.item-image {
    border-radius: 7px;
    padding: "5px";
    opacity: .7;

    background-color: "#31303b"; /* "hsl(from var(#31303b) h s l / .5)" */
}
