.pageeee {
    width: 100%;
    height: 100vh;

    position: relative;
    background-color: #232329;
}

.navbarContainer {
    width: 100%;
    height: 50px;

    position: absolute;
    top: 0;
    left: 0;

    display: flex;
    justify-content: center;

    margin-top: 15px;
    z-index: 10;
}

.navbar {
    width: fit-content;
    display: flex;

    position: relative;
    border-radius: 10px;

    box-shadow: 0px 0px 40px -15px rgb(0, 0, 0);
    background-color: #232329;
}

.navbarCenter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;

    width: 100%;
    height: 100%
}

.navbarLeft, .navbarRight {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;

    height: 100%;
}

.navbarLeft {
    background-color: #31303b;

    border-radius: 10px;
}

.navbarLeft > .navbarItem {
    background-color: #232329;
}

.navbarSpacer {
    height: 100%;
    width: 20px;

    opacity: .2;

    display: flex;
    justify-content: center;
    align-items: center;
}

.navbarSpacer > p {
    color: white;
    font-size: 20px;
}

.navbarItem {
    width: 40px;
    height: 40px;

    display: flex;
    justify-content: center;
    align-items: center;

    margin-right: 5px;

    border-radius: 7px;
    background-color: #31303b;

    transition: background-color .2s ease-in-out, box-shadow .2s ease-in-out;
}

.navbarItem:first-child {
    margin-left: 5px;
}

.navbarItem:hover {
    background-color: hsl(from #31303b h s l / .5);
    box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 1);
}

.navbarItem:hover > .itemImage {
    opacity: 1;
}

.navbarItem:active {
    border: 3px solid #12585d;
}

.itemImage {
    opacity: .6;
    margin: 5px;

    width: 17px;
    aspect-ratio: 1;

    transition: opacity .2s ease-in-out;
}
